@import "tailwindcss";

@theme {
    --color-fit-50: #eff6ff;
    --color-fit-100: #dbeafe;
    --color-fit-200: #bfdbfe;
    --color-fit-300: #93c5fd;
    --color-fit-400: #60a5fa;
    --color-fit-500: #2969ff;
    --color-fit-600: #2563eb;
    --color-fit-700: #1d4ed8;
    --color-fit-800: #1e40af;
    --color-fit-900: #1e3a8a;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}